*{
    margin: 0px;
    padding: 0px;
}
/* shared styles */
body{
    font-family: "Inter", sans-serif;
    font-family: "Merriweather", serif;
}

main{
    margin: 0px 280px;
}

/* banner section */
.banner-container{
    background-image: url("/resources/Banner-Image.png");
    background-repeat: no-repeat;
    width: 1320px;
    height: 600px;
    margin: 0px 280px;
    margin-top: 50px;    
}

.banner-title{
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 180px;
    font-family: "Merriweather", serif;
}

.banner-text{
    color: #FFF;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    width: 632px;
    margin: 15px 340px;
    font-family: "Merriweather", serif;
 
}

/* off section styles */
.off-container{
    margin-top: 120px;
}

.off-title{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-weight: 700;
}

.off-des{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
}

.off-heading{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    margin-top: 16px;
}

.off-img{
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

/* Party section styles */

.midnight-party-container{
    background-image: url(/resources/Vectorrr.png);
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    margin-top: 120px;

}

.midnight-party-content{
    margin-left: 126px;
}

.midnight-party-heading{
    width: 642px;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; /* 137.5% */
    letter-spacing: 7.04px;
    padding-top: 126px;
}

.midnight-party-des{
    width: 697px;
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    padding-top: 24px;
}

.primery-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: normal;
    background-color: rgb(255, 115, 0);
    border: none;
    padding:15px 25px;
    border-radius: 5px;
    margin-top: 33px;
    
}

.primery-btn:hover {
    background-color: rgb(192, 86, 0);
    cursor: pointer;
    transition-duration: 0.4s;
}

/* Party time & date Styles */

.party-time-and-date-container{
    height: 482px;
    width: 1320px;
    border-radius: 15px;
    background-image: linear-gradient(to top, rgba(255,0,0,0), rgb(255, 212, 212));
    margin-top: 120px ;
}

.party-time-and-date-text{
    padding-top: 100px;
}

.party-time-and-date{
    color: #070211;
    font-family: Inter;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-btn{
    display: flex;
    justify-content: center;
}

.party-time-and-date span{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px; /* 175% */
    text-transform: capitalize;
}

/* Best offer section styles */

.best-offer-container{
    display: flex;
    justify-content: space-between;
    margin-top: 140px;
}

.best-offer-part-1{
    margin-top: 130px;
}

.best-offer-part-1 h5{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.best-offer-part-1 h2{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
    margin-top: 16px;
}

.best-offer-part-1 p {
    width: 393px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 22px;
}

.best-offer-part-2{
    width: 465px;
    height: 465px;
    border-radius: 465px;
    border: 15px solid #F00;
}

.best-offer-part-2 img{
    margin: 50px 0px 0px 50px;
}

.best-offer-part-3 h2 {
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: normal;
    margin-top: 130px;
}

.best-offer-part-3 p{
    width: 276px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 16px;
}

.best-offer-part-3 img{
    width: 140px;
    height: 140px;
    margin-top: 43px;
}
/* holiday section styles */
.holiday-content{
    text-align: center;
    margin-top: 120px;
}
.holiday-content h2 {
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
  
}
.holiday-content span {
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-content h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    margin-top: 16px;
}

.holiday-content p{
    width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px; /* 160% */
    margin-top: 28px;
    margin: 0 auto;
}

.holiday-img{
    margin-top: 64px;
}


.img-75{
    width: 680px;
    position: absolute;
    top: 4074px;
}

.img-44{
    width: 280px;
    height: 280px;
    position: absolute;
    right: 580px;
    top: 4084px;

}

.rec-1{
    width: 429px;
    height: 433px;
    position: absolute;
    margin-left: 891px;
    top: 3977px;
    
}

.rec-2{
    width: 1320px;
    position: relative;
    margin-top: 460px;

}


/* portfolio styles */

.portfolio-container{
    margin-top: 120px;
}

.portfolio-container h3{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
}

.portfolio-container h1{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
}

.portfolio-container p {
    width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin-top: 22px;
}

.portfolio-img-part-1{
    padding-top: 48px;
}


.portfolio-img-1:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;
}

.portfolio-img-2{
    margin: 0px 24px;
}

.portfolio-img-2:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;   
}

.portfolio-img-3:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;   
}

.portfolio-img-part-2{
    padding-top: 20px;
}

.portfolio-img-4:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;   
}

.portfolio-img-5{
    margin: 0px 24px;
}

.portfolio-img-5:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;   
}

.portfolio-img-6:hover{
    border: 2px solid rgb(37, 77, 253);
    border-radius: 18px;
    cursor: pointer;  
}

/* Subscribe section style */


.subscribe-container{
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    margin-top: 120px;
}

.subscribe-container img{
    width: 150px;
    height: 150px;
    margin-left: 585px;
    padding-top: 80px;
}

.subscribe-container h2{
    color: #070211;
    font-family: Merriweather;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 40px;
}

.subscribe-container p{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    width: 896px;
    font-weight: 400;
    line-height: 32px; /* 160% */
    margin: 0 auto;
    margin-top: 22px;
}

.subscribe-input{
    margin-left: 300px;
    margin-top: 48px;
}

.email-input{
    width: 438px;
    height: 72px;
    border-radius: 50px;
    background: #FFF;
    border-radius: 50px 0px 0px 50px;
    border: none;

    color: rgba(7, 2, 17, 0.30);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 30px;
}

.input-btn{
    width: 210px;
    height: 72px;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    border: none;
    position: absolute;

}

.input-btn:hover{
    background-color: rgb(224, 8, 8);
    color: #FFF;
    transition-duration: 0.4s;
    cursor: pointer;
}


/* Footer section style */

.footer-container{
    width: 100%;
    height: 609px;
    background: #070211;
    margin-top: 120px;
}

.footer-content{
    margin: 0 280px;
}

.footer-head{
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
}

.address{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
}

.contact{
    display: flex;
}

.contact p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 16px;
}

.web-address{
    display: flex;
    margin-top: 8px;
}

.web-address p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    padding-left: 16px;
}

.footer-body{
    padding: 50px 0px;
}

.footer-body-icons{
    padding: 48px 0px;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.Authority{
    display: flex;
    justify-content: space-between;
}

.Authority p{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;

}